nav h5 {
  color: aliceblue;
  letter-spacing: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron {
  height: 90vh;
  background-image: url(asset/img/bg-jumbotron.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .box-content{
  color: black;
  margin-top:-20%;
}
.pembatas .kata-kata {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 5px;
  margin-bottom: 0;
  font-style: italic;
}
.parallax {
  background-image: url(asset/img/bg-about.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section ul li {
  list-style-type: none;
  font-size: 1rem;
}
.box-about {
  height: 100vh;
}
footer p {
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 576px) {
  .pembatas .kata-kata {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
    .box-about {
      height: 100%;
      padding: 20px 0;
    }
  }